#boards {
    background-color: green;
}

:root{
    --border-radius: 5px;
    --status-1: #6593CE;
    --status-2: #FC9C00;
    --status-3: #E968A1;
    --status-4: #709C34;

    /*--status-1: #590000;*/
    /*--status-2: #594300;*/
    /*--status-3: #525900;*/
    /*--status-4: #085900;*/
}

body{
    min-width: 620px;
    background: #ddd url(http://cdn.backgroundhost.com/backgrounds/subtlepatterns/diagonal-noise.png);
    font-family: sans-serif;
}

h1, .board-title, .board-column-title{
    font-weight: 100;
}

h1{
    text-align: center;
    font-size: 4em;
    letter-spacing: 5px;
    transform: scale(1.2, 1);
}

.button-add-board{
    background: #222;
    color: #fff;
    border: none;
    font-size: 14px;
    font-family: sans-serif;
    padding: 15px;
    margin-left: 24%;
    margin-top: 3%;

}

.button-delete-board{
    background: #6c6c6c;
    color: #fff;
    border: none;
    font-size: 14px;
    font-family: sans-serif;
    padding: 15px;
    float: right;
}

.button-show-cards{
    background: #6c6c6c;
    color: #fff;
    border: none;
    font-size: 14px;
    font-family: sans-serif;
    padding: 15px;
    float: right;
    margin-right: 2%;

}

.button-add-card{
    background: #6c6c6c;
    color: #fff;
    border: none;
    font-size: 14px;
    font-family: sans-serif;
    padding: 15px;
    float: right;
    margin-right: 44%;

}

.board-container{
    max-width: 960px;
    margin: 0 auto;
}

.board{
    margin: 20px;
    border: aliceblue;
    background: #ffffff90;
    border-radius: 3px;
}

.board-header{
    display: flex;
    justify-content: space-between;
    height: 50px;
    background: #fff;
    border-radius: var(--border-radius) var(--border-radius) 0 0;
}

.board-title {
    margin: 13px;
    display: inline-block;
    font-size: 20px;
}

.board-options {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    align-content: center;
}

/*.board-title, .board-add, .board-toggle{*/
/*    display: inline-block;*/
/*}*/

.board-toggle{
    float: right;
    margin: 13px;
}

.board-columns{
    display: flex;
    flex-wrap: nowrap;
    align-content: stretch;
    justify-content: space-between;
    align-items: flex-start;

}

.board-column{
        display: flex;
    position: relative;
    padding: 10px;
    flex: 1;
}

.board-column-content{
    min-height: 50px;
}

.board-column-content:empty{
    /*This only works if the tag is really empty and there is not even whitespace inside*/

    margin-top: 4px;
    border-radius: 10px;
    /*background: #eee;*/
}

.board-column-title{
    text-align: center;
}

.card{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    background: #777;
    color: #fff;
    width: 100%;
    border-radius: var(--border-radius);
    margin: 4px 0;
    padding: 4px;

}

.card-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
}


.card-options {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    background-color: rgba(50, 50, 50, 20%);
    border-radius: 4px;
}


.board-column:nth-of-type(1) .card{
    background: var(--status-1);
}

.board-column:nth-of-type(2) .card{
    background: var(--status-2);
}

.board-column:nth-of-type(3) .card{
    background: var(--status-3);
}

.board-column:nth-of-type(4) .card{
    background: var(--status-4);
}

.card-remove{
    width: 20px;
    height: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    font-size: 14px;
    cursor: pointer;
    /*-webkit-box-shadow: inset 2px 2px 5px -5px rgba(10, 10, 10, 1);*/
    /*-moz-box-shadow: inset 2px 2px 5px -5px rgba(10, 10, 10, 1);*/
    /*box-shadow: inset 2px 2px 5px -5px rgba(10, 10, 10, 1);*/
}

.card-archive{
    width: 20px;
    height: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    font-size: 14px;
    cursor: pointer;
    /*-webkit-box-shadow: inset 2px 2px 5px -5px rgba(10, 10, 10, 1);*/
    /*-moz-box-shadow: inset 2px 2px 5px -5px rgba(10, 10, 10, 1);*/
    /*box-shadow: inset 2px 2px 5px -5px rgba(10, 10, 10, 1);*/
}

.column-remove{
    display: block;
    position: absolute;
    top: 4px;
    right: 4px;
    font-size: 12px;
    cursor: pointer;
}

.card-title{
    margin-bottom: 0;
    margin-left: 10px;
}

.cursor {
    cursor: pointer;
}


/*DRAG N DROP*/

.drop-zone {
    width: 100%;
    height: 100%;
    background: #eee;
    min-height: 50px;
    border-radius: 3px;
}

.active-zone {
    background: darkseagreen;
}

.over-zone {
    background: lightgreen;
}

.fas, .fa {
    color: rgba(255, 255, 255, 50%);
    font-size: 14px;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease-in-out;
}

.fas:hover, .fa:hover {
    color: rgba(255, 255, 255, 100%);
    font-size: 18px;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease-in-out;
}

.fa-solid {
    font-size: 30px;
}


/* Palette URL: http://paletton.com/#uid=c3D0P5h2t0kllll02tjhJJ1esbtSivA */

/* Feel free to copy&paste color codes to your application */


/* As hex codes */

.color-primary-0 { color: #2B4970 }	/* Main Primary color */
.color-primary-1 { color: #999999 }
.color-primary-2 { color: #6593CE }
.color-primary-3 { color: #232E3C }
.color-primary-4 { color: #044AA5 }

.color-secondary-1-0 { color: #90305A }	/* Main Secondary color (1) */
.color-secondary-1-1 { color: #C6C6C6 }
.color-secondary-1-2 { color: #E968A1 }
.color-secondary-1-3 { color: #4D2A3A }
.color-secondary-1-4 { color: #D5005D }

.color-secondary-2-0 { color: #709C34 }	/* Main Secondary color (2) */
.color-secondary-2-1 { color: #D6D6D6 }
.color-secondary-2-2 { color: #BAF36C }
.color-secondary-2-3 { color: #44542E }
.color-secondary-2-4 { color: #85E700 }

.color-complement-0 { color: #AA7F39 }	/* Main Complement color */
.color-complement-1 { color: #EAE9E9 }
.color-complement-2 { color: #FFC972 }
.color-complement-3 { color: #5B4C32 }
.color-complement-4 { color: #FC9C00 }

/* Generated by Paletton.com © 2002-2014 */
/* http://paletton.com */
