<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>ProMan</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon/favicon.ico') }}">
    <link rel="icon" type="image/png" sizes="32x32"
          href="{{ url_for('static', filename='favicon/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="96x96"
          href="{{ url_for('static', filename='favicon/favicon-96x96.png') }}">
    <link rel="icon" type="image/png" sizes="16x16"
          href="{{ url_for('static', filename='favicon/favicon-16x16.png') }}">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
    <script type="module" src="{{ url_for('static', filename='js/main.js') }}" defer></script>
    <script type="text/javascript" src="/static/registration.js"></script>
</head>
<body>
<div id="divHeader"></div>
<div id="root"></div>
<div class="modal fade" id="modal2" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalLabel"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h4>Registration details:</h4>
                <table class="table table-hover" id="modalTable">
                    <tbody>
                    <form method="POST" action="/registration">
                        <tr>
                            <td>
                                <label for="username">First name:</label>
                            </td>
                            <td>
                                <input id="registrationFirstname" type="text" name="registrationFirstName"
                                       placeholder="First name...">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label for="username">Second name:</label>
                            </td>
                            <td>
                                <input id="registrationSecondName" type="text" name="registrationSecondName"
                                       placeholder="Second name...">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label for="username">E-mail:</label>
                            </td>
                            <td>
                                <input id="registrationEmail" type="email" name="registrationEmail"
                                       placeholder="User e-mail...">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label for="username">Telephone Number:</label>
                            </td>
                            <td>
                                <input id="TelephoneNumber" type="number" name="TelephoneNumber"
                                       placeholder="User TelephoneNumber...">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label for="password">Password:</label>
                            </td>
                            <td>
                                <input id="registrationPassword" type="password" name="registrationPassword"
                                       placeholder="Password...">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <button type="submit" onclick="submit()">Send Data</button>
                            </td>
                        </tr>
                    </form>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalLabel"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h4>Login:</h4>
                <table class="table table-hover" id="modalTable">
                    <tbody>
                    <form method="POST" action="/login">
                        <tr>
                            <td>
                                <label for="username">E-mail:</label>
                            </td>
                            <td>
                                <input id="user_name" type="email" name="user_name"
                                       placeholder="User e-mail...">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label for="password">Password:</label>
                            </td>
                            <td>
                                <input id="password_name" type="password" name="password_name"
                                       placeholder="Password...">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <button type="submit" onclick="submit()">Send Data</button>
                            </td>
                        </tr>
                    </form>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon/favicon.ico') }}">
    <link rel="icon" type="image/png" sizes="32x32"
          href="{{ url_for('static', filename='favicon/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="96x96"
          href="{{ url_for('static', filename='favicon/favicon-96x96.png') }}">
    <link rel="icon" type="image/png" sizes="16x16"
          href="{{ url_for('static', filename='favicon/favicon-16x16.png') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/modal-for-rename.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
    <script type="module" src="{{ url_for('static', filename='js/main.js') }}" defer></script>
    <script src="/static/js/controller/boardsManager.js"></script>

</head>
<body>
<div class="modal fade" id="modal-for-rename" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalLabel"></h5>
            </div>
            <div class="modal-body">
                <input type="text" id="new-name-for-board" placeholder="Enter new board name">
                <button class="close"  data-dismiss="modal" aria-label="Close"  id="submit-button-rename"><span aria-hidden="true">Submit</span></button>
            </div>
        </div>
    </div>
</div>
<div id="root"></div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

</body>
</html>
